.list-item {
    margin: 12px auto;
    padding: 17px 0 ;
    width: 60%;
    display: flex;
    border-bottom: solid rgba(0, 0, 0, 0.205) 1px;
    justify-content: space-between;
}

.list-item > span {
    font-size: 16px;
}

.item {
    z-index: 10;
    position: relative;
}

.item::before {
    content: '';
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: lightblue;
    position: absolute;
    transform: translateX();
    z-index: -2;
    top: -13px ;
    left: -2px;
}

.item:hover::before {
    background-color: red;
}

.item:hover {
    color: white;
    cursor: pointer;
}

/* update */
.itemEdit {
    z-index: 10;
    position: relative;
}

.itemEdit::before {
    content: '';
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: lightblue;
    position: absolute;
    transform: translateX();
    z-index: -2;
    top: -13px ;
    left: -2px;
}

.itemEdit:hover::before {
    background-color: rgb(55, 0, 255);
}

.itemEdit:hover {
    color: white;
    cursor: pointer;
}