.home-container {
  width: auto;
  height: 100vh;
  background-image: url("../../../public/assets/images/homebg.jpg");
  background-size: cover;
}

.title-col > h1 {
  letter-spacing: 3px;
  font-size: 6vw;
  color: #ffffff;
  text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #5a4444;
}

.title-col > p {
    font-size: 3vw;

}

.photo-profile {
  border-radius: 50%;
  width: 13em !important;
  height: 13em !important;
  background-image: url("../../../public/assets/images/pprofile.jpg");
  background-size: cover;
  background-position: bottom;
  box-shadow: 7px 5px 34px 3px rgba(0, 0, 0, 0.56);
  -webkit-box-shadow: 7px 5px 34px 3px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: 7px 5px 34px 3px rgba(0, 0, 0, 0.56);
}
