@import url("https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap");

.menus-container {
    width: 100%;
    height: 100vh;
    background-color: aquamarine;
}

.animate-btn{
    box-shadow: inset 0 0 rgb(0, 89, 255); 
    transition: all 0.5s ease-out !important; 
    font-family: "Sigmar One", cursive !important;
    letter-spacing: 1px;
}

.animate-btn:hover {
    box-shadow: inset 16em 0 #d1f865;
    cursor: pointer;
    color: rgb(0, 0, 0) !important;
}
